# Файлы сессии Telethon
*.session
*.csv


# Переменные окружения
.env

# Кэши Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
.venv/
env/
venv/
ENV/

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и результаты
*.log
*.json 
